body{
    margin: 10px;
    padding: 10px;
    background-color: gray;
}

.transaction-display{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
}

.transaction{
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: 550px;
    height: 150px;
}

.container1{
    display: flex;
    justify-content: center;
}

.search{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px

}
